.header {
   // .header__upper
   z-index: 10;
   position: fixed;
   left: 0;
   right: 0;
   &__upper {
   }

   // .header__down

   &__down {
      background-color: $black;
   }

   // .header__list

   &__list {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      justify-items: center;
      border-top: 1px solid $strokeGrey;
      border-bottom: 1px solid $strokeGrey;
      li {
         width: 100%;
      }
   }

   // .header__logo

   &__logo {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 64px;
      border-right: 1px solid $strokeGrey;
   }

   // .header__link

   &__link {
      color: $white;
      @include body-m;
      transition: 0.4s;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 64px;
      border-right: 1px solid $strokeGrey;
      @media (hover: hover) {
         &:hover {
            background-color: $white;
            color: $black;
         }
      }
   }

   // .header__order

   &__order {
      border-right: unset !important;
      background-color: $white;
      @include h4;
      color: $black;
      text-transform: uppercase;
      transition: 0.4s;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 64px;
      border-right: 1px solid $strokeGrey;
      @media (hover: hover) {
         &:hover {
            background-color: $black;
            color: $white;
         }
      }
   }
   &__burger {
      display: none;
   }
   &__menu {
      display: none;
   }
   @media (max-width: $tablet) {
      &__link,
      &__order,
      &__logo {
         height: 56px;
      }
      &__list {
         grid-template-columns: repeat(2, 1fr);
         li.desktop {
            display: none;
         }
      }
      &__order {
         display: none;
      }
      &__burger {
         display: flex;
         align-items: center;
         justify-content: space-between;
         padding-left: 20px;
         padding-right: 20px;
         color: $white;
         @include h3-mobile;
         text-transform: uppercase;
         button {
            position: relative;
            width: 24px;
            height: 16px;
            &::before,
            &::after,
            span {
               content: "";
               display: block;
               position: absolute;
               left: 0;
               right: 0;
               height: 2px;
               background-color: $white;
               transition: 0.4s;
            }
            span {
               transform-origin: center;
            }
            &::before {
               top: 0;
            }
            &::after {
               bottom: 0;
            }
            span {
               top: 50%;
               translate: 0 -50%;
            }
         }
         &.active {
            button {
               span {
                  scale: 0;
               }
               &::before {
                  rotate: 45deg;
                  translate: 0px 7px;
               }
               &::after {
                  rotate: -45deg;
                  translate: 0px -7px;
               }
            }
         }
      }
      &__menu {
         z-index: 10;
         background-color: $black;
         display: flex;
         flex-direction: column;
         position: fixed;
         top: 58px;
         left: 0;
         right: 0;
         translate: -100%;
         transition: 0.4s;
         padding-top: 32px;
         padding-left: 20px;
         padding-right: 20px;
         padding-bottom: 24px;
         height: calc(100dvh - 58px);
         &.active {
            translate: 0;
         }
      }
      &__link {
         border: 0;
         height: unset;
         @include h1-mobile;
      }
      &__links {
         flex: 1;
         align-items: flex-start;
         display: flex;
         flex-direction: column;
         gap: 32px;
      }
      &__order {
         color: $black !important;
         align-items: center !important;
         justify-content: center !important;
         height: 56px !important;
         font-size: 16px !important;
         font-weight: 700 !important;
      }
   }
}
.header-upper {
   // .header-upper__list
   background-color: $grey;
   &__list {
      display: flex;
      gap: 20px;
      height: 40px;
      align-items: center;
      a {
         display: flex;
         align-items: center;
         gap: 8px;
         @include body-s;
         color: $white;
      }
   }
   @media (max-width: $tablet) {
      display: none;
      &__list {
         height: unset;
         flex-direction: column;
         li {
            width: 100%;
         }
         a {
            @include body-xl;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            img {
               width: 32px;
               height: 32px;
               flex: 0 0 32px;
            }
         }
      }
   }
}
